name: Profile README Workflow

on:
  push:
    branches:
      - main
    paths:
      - 'README.md'
  workflow_dispatch:

jobs:
  check-readme:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Show last commit
        run: git log -1 --oneline

      # Optional: Markdown lint
      - name: Markdown Lint
        uses: reviewdog/action-markdownlint@v0.2.0
        with:
          reporter: github-pr-check

      # Optional: Update badge file
      - name: Update workflow badge
        run: |
          echo "![README Workflow](https://github.com/${GITHUB_REPOSITORY}/actions/workflows/readme-ci.yml/badge.svg)" > badge.md
