name: README Update Workflow

on:
  push:
    branches:
      - main
    paths:
      - 'README.md'

jobs:
  check-readme:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Show last commit
        run: git log -1 --oneline
